<h2> La liste des Personels </h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Nom </th>
            <th> Prenom </th>
            <th> Sexe</th>
            <th>Role </th>
            <th> E-mail </th>
            <th> Telephone </th>
            <th> Actions </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let personelDto of personelDtos" >
            <td> {{ personelDto.nom }} </td>
            <td> {{ personelDto.prenom}} </td>
            <td> {{ personelDto.sexe}} </td>
            <td> {{ personelDto.email}} </td>
            <td> {{ personelDto.numero }} </td>
            <td> {{ personelDto.roleDto}} </td>
            <td>
                <button (click) = "updatePersonel(personelDto.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deletePersonel(personelDto.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "personelDetails(personelDto.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-end">
  <button class="btn btn-md btn-primary" (click)="onCreatePersonel()">
    <i class="fa fa-user"></i> Nouveau Personel
  </button>
</div>
