<h2> Fournisseur List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Prenom </th>
            <th> Nom </th>
            <th> Adressee </th>
            <th> Telephone </th>
            <th> E-mail </th>
            <th> Actions </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let fournisseurDto of fournisseurDtos" >
            <td> {{ fournisseurDto.prenom}} </td>
            <td> {{ fournisseurDto.nom }} </td>
            <td> {{ fournisseurDto.adresse }} </td>
            <td> {{ fournisseurDto.mail}} </td>
            <td> {{ fournisseurDto.numtel }} </td>
            <td>
                <button (click) = "updateFournisseur(fournisseurDto.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteFournisseur(fournisseurDto.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "fournisseurDetails(fournisseurDto.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-end">
  <button class="btn btn-md btn-primary" (click)="onCreateFournisseur()">
    <i class="fa fa-user"></i> Nouveau Fournisseur
  </button>
</div>
