<div class="">
  <div class="row mt-0">
    <div class="col-md-10">
      <h2>Liste des Produits</h2>
    </div>
    <div class="col-md-2">
      <button class="btn btn-md btn-outline-primary" (click)="onCreateProduit()">
        <i class="fa fa-plus"></i> Ajouter
      </button>
    </div>
  <hr class="fw-bold mt-0">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Code Produit</th>
        <th>Nom</th>
        <th>Désignation</th>
        <th>Quantité</th>
        <th>categorie</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produitDto of produits">
        <td>{{ produitDto.id }}</td>
        <td>{{ produitDto.codeproduit }}</td>
        <td>{{ produitDto.nom }}</td>
        <td>{{ produitDto.designation }}</td>
        <!-- <td>{{ produitDto.lignefactureDto.quantite }}</td> -->
        <td>{{ produitDto.categorieDto.nomcategorie }}</td>
        <!-- <td>{{ produitDto.factureDto.quantite }}</td> -->
        <td>{{ produitDto.categorieDto.code }}</td>


        <td class="text-center">
          <button class="btn btn-sm m-1 btn-info" (click)="onDetails(produitDto)">
            <i class="fa fa-clipboard"></i>
          </button>
          <button class="btn btn-sm m-1 btn-warning" (click)="onEdit(produitDto.id)">
            <i class="fa fa-edit"></i>
          </button>

          <button class="btn btn-sm m-1 btn-danger" (click)="onDelete(produitDto.id)">
            <i class="fa fa-trash"></i>
          </button>


        </td>
      </tr>
    </tbody>
  </table>



