
<div class="card">
  <div class="card-header text-center">
    <h2>Liste des Contrats</h2>
    <div class="d-flex justify-content-end">
      <button class="btn btn-md btn-primary" (click)="onCreateContrat()">
        <i class="fa fa-plus"></i> Ajouter
      </button>
    </div>
  </div>
  <hr class="fw-bold mt-0">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Motif</th>
          <th>Societe</th>
          <th>Date de debut</th>
          <th>Date de fin</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contratDto of contratDtos">
          <td>{{ contratDto.nom }}</td>
          <td>
            <button class="btn btn-info" (click)="updateContrat(contratDto.id)">
              Update
            </button>
            <button class="btn btn-danger" style="margin-left: 10px" (click)="deleteContrat(contratDto.id)">
              Delete
            </button>
            <button class="btn btn-primary" style="margin-left: 10px" (click)="contratDetails(contratDto.id)">
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
