<!-- <div class="card">
  <div class="card-header">
    <h4>Détail Affectation</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" class="form-control" id="id" disabled [(ngModel)]="affectation.id">
    </div>
    <div class="form-group">
      <label for="quantite">Quantite:</label>
      <input type="number" class="form-control" id="quantite" [(ngModel)]="affectation.quantite" required minlength="1" maxlength="30">
    </div>
    <div class="form-group">
      <label for="motif">Motif:</label>
      <input type="text" class="form-control" id="motif" [(ngModel)]="affectation.motif" required minlength="4" maxlength="30">
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" class="form-control" id="date" [(ngModel)]="affectation.date" required>
    </div>
    <div class="form-group">
      <label for="produitDto">Produit:</label>
      <select class="form-control" id="produitDto" [(ngModel)]="affectation.produitDto" required>
        <option value="">Sélectionner un produit</option>
        <option *ngFor="let produit of produits" [value]="produit">{{produit.nom}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="personelDto">Personel:</label>
      <select class="form-control" id="personelDto" [(ngModel)]="affectation.personelDto" required>
        <option value="">Sélectionner un personel</option>
        <option *ngFor="let personel of personels" [value]="personel">{{personel.nom}} {{personel.prenom}}</option>
      </select>
    </div>
    <button class="btn btn-info" (click)="updateAffectation()">Sauvegarder</button>
  </div>
</div> -->
