 <nav class="sidebar">
  <ul class="list-unstyled components mb-5">
    <li>
      <a routerLink="/Home" routerLinkActive="active">
        <i class="fa fa-tachometer-alt"></i>
        Tableau de bord
      </a>
    </li>
    <li>
      <a routerLink="/admin/listpersonel" routerLinkActive="active">
        <i class="fa fa-users"></i>
        Personels
      </a>
    </li>
    <li>
      <a routerLink="/admin/affectation-list" routerLinkActive="active">
        <i class="fa fa-subscript"></i>
       Affectations
      </a>
    </li>
    <li>
      <a routerLink="/admin/listproduit" routerLinkActive="active">
        <i class="fa fa-book"></i>
        Produits
      </a>
    </li>
    <li>
      <a routerLink="/admin/listreparation" routerLinkActive="active">
        <i class="fa fa-building"></i>
        Reparations
      </a>
    </li>
    <li>
      <a routerLink="/admin/listfacturefournisseur" routerLinkActive="active">
        <i class="fa fa-clipboard"></i>
        Facture Fournisseurs
      </a>
    </li>
    <li>
      <a routerLink="/admin/listfacturereparation" routerLinkActive="active">
        <i class="fa fa-book"></i>
       Facture reparation
      </a>
    </li>
    <li>
      <a routerLink="/admin/listdepartement" routerLinkActive="active">
        <i class="fa fa-bookmark"></i>
        Departements
      </a>
    </li>
    <li>
      <a routerLink="/admin/listbureau" routerLinkActive="active">
        <i class="fa fa-clock"></i>
        Bureaus
      </a>
    </li>
    <li>
      <a routerLink="/admin/listdemande" routerLinkActive="active">
        <i class="fa fa-users"></i>
        Demandes
      </a>
    </li>
    <li>
      <a routerLink="/admin/listfournisseur" routerLinkActive="active">
        <i class="fa fa-user-tie"></i>
        Fournisseurs
      </a>
    </li>
    <li>
      <a routerLink="/admin/listcategorie" routerLinkActive="active">
        <i class="fa fa-certificate"></i>
      Categories
      </a>
    </li>
    <li>
      <a routerLink="/admin/listsociete" routerLinkActive="active">
        <i class="fa fa-address-book"></i>
     Societes
      </a>
    </li>
    <li>
      <a routerLink="/admin/listavarie" routerLinkActive="active">
        <i class=""></i>
       Hors service
      </a>
    </li>
    <li>
      <a routerLink="/admin/listuser" routerLinkActive="active">
        <i class="fa fa-users"></i>
        Users
      </a>
    </li>
  </ul>
</nav>
