<nav class="sidebar">
  <ul class="list-unstyled components mb-5">
    <li>
      <a routerLink="/Home" routerLinkActive="active">
        <i class="fas fa-tachometer-alt"></i>
        Tableau de bord
      </a>
    </li>
    <li>
      <a routerLink="/admin/personel-list" routerLinkActive="active">
        <i class="fas fa-graduation-cap"></i>
        Personels
      </a>
    </li>
    <li>
      <a routerLink="/admin/affectation-list" routerLinkActive="active">
        <i class="fas fa-subscript"></i>
       Affectations
      </a>
    </li>
    <li>
      <a routerLink="/admin/produit-list" routerLinkActive="active">
        <i class="fa fa-chalkboard-teacher"></i>
        Produits
      </a>
    </li>
    <li>
      <a routerLink="/admin/reparation-list" routerLinkActive="active">
        <i class="fas fa-building"></i>
        Reparations
      </a>
    </li>
    <li>
      <a routerLink="/admin/facturefournisseur-list" routerLinkActive="active">
        <i class="fas fa-clipboard"></i>
        Facture Fournisseurs
      </a>
    </li>
    <li>
      <a routerLink="/admin/facturereparation-list" routerLinkActive="active">
        <i class="fas fa-book"></i>
       Facture reparation
      </a>
    </li>
    <li>
      <a routerLink="/admin/departement-list" routerLinkActive="active">
        <i class="fas fa-bookmark"></i>
        Departements
      </a>
    </li>
    <li>
      <a routerLink="/admin/bureau-list" routerLinkActive="active">
        <i class="fas fa-clock"></i>
        Bureaus
      </a>
    </li>
    <li>
      <a routerLink="/admin/demande-list" routerLinkActive="active">
        <i class="fas fa-users"></i>
        Demandes
      </a>
    </li>
    <li>
      <a routerLink="/admin/fournisseur-list" routerLinkActive="active">
        <i class="fas fa-user-tie"></i>
        Fournisseurs
      </a>
    </li>
    <li>
      <a routerLink="/admin/categorie-list" routerLinkActive="active">
        <i class="fas fa-certificate"></i>
      Categories
      </a>
    </li>
    <li>
      <a routerLink="/admin/societe-list" routerLinkActive="active">
        <i class="fas fa-address-book"></i>
     Societes
      </a>
    </li>
    <li>
      <a routerLink="/admin/service-list" routerLinkActive="active">
        <i class="fas fa-user"></i>
       Hors service
      </a>
    </li>
    <li>
      <a routerLink="/admin/user-list" routerLinkActive="active">
        <i class="fas fa-users"></i>
        Users
      </a>
    </li>
