<!--
<div class="row h-100 justify-content-center align-items-center">
  <div class="col-12">

<div class="card">
  <div class="card-header">
    creer un departement
  </div>
  <div class="card-body">
  <form (ngSubmit) = "onSubmit()">
      <div class="form-group m-1">
          <label> Code</label>
          <input type="text" class ="form-control" id = "code"
              [(ngModel)] = "departementDto.code" name = "code">
      </div>

      <div class="form-group m-1">
          <label>Code</label>
          <input type="text" class ="form-control" id = "nom"
              [(ngModel)] = "departementDto.nom" name = "nom">
      </div>

      <div class="form-group m-1">
          <label> Designation</label>
          <input type="text" class ="form-control" id = " createdAt"
              [(ngModel)] = "departementDto.createdAt" name = " createdAt">
      </div>


<div >
      <button class = "btn btn-success" type ="submit">Submit</button>
    </div>
  </form>
  </div>
</div>

</div>
</div> -->
