<div class="">
  <div class="row mt-0">
  <div class="col-md-10">
<h2> liste des categories </h2>
  </div>
<div class="col-md-2">
  <button class="btn btn-md btn-primary" (click)="onCreateCategorie()">
    <i class="fa fa-plus"></i> Ajouter
  </button>
  </div>
<hr class="fw-bold mt-0">
<table class = "table table-bordered table-striped">
    <thead>
        <tr>
            <th> Code </th>
            <th> Nom </th>
            <th> Designation </th>
            <th class="text-center"> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let categorieDto of categorieDtos" >
            <td> {{ categorieDto.code }} </td>
            <td> {{ categorieDto.nomcategorie }} </td>
            <td> {{ categorieDto.designation }} </td>

            <td class="text-center">
                <button (click) = "updateCategorie(categorieDto.id)" class = "btn btn-sm m-1 btn-info">
                    <i class="fa fa-edit"></i>
                </button>
                <button (click) = "deleteCategorie(categorieDto.id)" class = "btn btn-sm m-1 btn-warning">
                  <i class="fa fa-trash"></i>
                </button>
                <button (click) = "CategorieDetails(categorieDto.id)" class = "btn btn-sm m-1 btn-danger" >
                  <i class="fa fa-clipboard"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>


