



<!-- <div class="card">
  <div class="card-header text-center">
    <h2>Liste des factures</h2>
    <div class="d-flex justify-content-end">
      <button class="btn btn-md btn-primary" (click)="onCreateFacture()">
        <i class="fa fa-user"></i> Add facture
      </button>
    </div>

  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Numero</th>
          <th>Fournisseur</th>
          <th>Code</th>
          <th>Produit</th>
          <th>Quantite</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factureDto of factureDtos">
          <td>{{ factureDto.code}}</td>
          <td>{{ factureDto.fournisseurDto.nom}}</td>
          <td>{{ factureDto.code}}</td>
          <td>{{ factureDto.lignefactureDto.quantite}}</td>
          <td>{{ factureDto.lignefactureDto}}</td>
         <td>{{ factureDto.datecommande}}</td>

          <td>
            <button class="btn btn-info" (click)="updateFacture(factureDto.id)">
              Update
            </button>
            <button class="btn btn-danger" style="margin-left: 10px" (click)="deleteFacture(factureDto.id)">
              Delete
            </button>
            <button class="btn btn-primary" style="margin-left: 10px" (click)="factureDetails(factureDto.id)">
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

 -->
