<div class="">
  <div class="row mt-0">
    <div class="col-md-10">
      <h2> Liste des Societe </h2>
    </div>

  <div class="col-md-2">
    <button class="btn btn-md btn-primary" (click)="onCreateSociete()">
      <i class="fa fa-plus"></i> Ajouter
    </button>
  </div>
  <hr class="fw-bold mt-0">
  <table class = "table table-bordered table-striped">
    <thead>
        <tr>

            <th> Nom </th>
            <th> Adresse</th>
            <th> Numero fiscal</th>
            <th> Actions </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let societeDto of societes" >
            <td> {{ societeDto.nom}} </td>
            <td> {{ societeDto.adresse }} </td>
            <td> {{ societeDto.numerofiscal }} </td>



        <td class="text-center">
          <button class="btn btn-sm m-1 btn-info" (click)="societeDetails(societeDto.id)">
            <i class="fa fa-clipboard"></i>
          </button>
          <button class="btn btn-sm m-1 btn-warning" (click)="updateSociete(societeDto.id)">
            <i class="fa fa-edit"></i>
          </button>

          <button class="btn btn-sm m-1 btn-danger" (click)="deleteSociete(societeDto.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
        </tr>
    </tbody>
</table>

